<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <?define Product_Name = "YieldView.API.Installer"?>
  <?define Version = "1.0.0.0"?>
  <?define Upgrade_Code="DAC55BDB-249E-46BA-A9BD-7CD2DC389D40"?>

  <Package 
    Name="$(var.Product_Name)"
    Language="1033"
    Version="$(var.Version)"
    Manufacturer="Parme Project"
    UpgradeCode="$(var.Upgrade_Code)"
    InstallerVersion="500"
    Compressed="yes">

    <SummaryInformation Description="$(var.Product_Name) Windows installer package" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.Product_Name) is already installed" />
    <Media Id="1" Cabinet="Cabinet_Service.cab" EmbedCab="yes" />

    <!-- Directory structure under Desktop -->
    <StandardDirectory Id="DesktopFolder">
      <Directory Id="YIELDVIEW_DESKTOP_DIR" Name="YieldView">
        <Directory Id="DEPLOYMENT_DIR" Name="DeploymentFolder">
          <Directory Id="BINARIES_DIR" Name="Binaries" />
          <Directory Id="CONFIGFILES_DIR" Name="ConfigFiles" />
        </Directory>
      </Directory>
    </StandardDirectory>

    <ComponentGroup Id="ProductComponents">

      <!-- Binaries -->
      <Component Id="YieldViewBinaries" Guid="E21A5C33-4590-4B63-B1CC-7D7CE817D222" Directory="BINARIES_DIR">
        <!-- Registry KeyPath satisfies ICE38 -->
        <RegistryValue Root="HKCU" Key="Software\YieldView" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
		    <File Id="AppSettings" Source="$(var.PublishDir)\appsettings.json" />
			<File Id="aspnetcorev2_inprocess.dll" Source="$(var.PublishDir)\aspnetcorev2_inprocess.dll" />
			<File Id="clretwrc.dll" Source="$(var.PublishDir)\clretwrc.dll" />
			<File Id="clrgc.dll" Source="$(var.PublishDir)\clrgc.dll" />
			<File Id="clrjit.dll" Source="$(var.PublishDir)\clrjit.dll" />
			<File Id="coreclr.dll" Source="$(var.PublishDir)\coreclr.dll" />
			<File Id="createdump.exe" Source="$(var.PublishDir)\createdump.exe" />
			<File Id="CsvHelper.dll" Source="$(var.PublishDir)\CsvHelper.dll" />
			<File Id="hostfxr.dll" Source="$(var.PublishDir)\hostfxr.dll" />
			<File Id="HtmlAgilityPack.dll" Source="$(var.PublishDir)\HtmlAgilityPack.dll" />
			<File Id="hostpolicy.dll" Source="$(var.PublishDir)\hostpolicy.dll" />
			<File Id="AspNetCoreAntiforgery" Source="$(var.PublishDir)\Microsoft.AspNetCore.Antiforgery.dll" />
			<File Id="AspNetCoreAuthenticationAbstractions" Source="$(var.PublishDir)\Microsoft.AspNetCore.Authentication.Abstractions.dll" />
			<File Id="AspNetCoreAuthenticationBearerToken" Source="$(var.PublishDir)\Microsoft.AspNetCore.Authentication.BearerToken.dll" />
			<File Id="AspNetCoreAuthenticationCookies" Source="$(var.PublishDir)\Microsoft.AspNetCore.Authentication.Cookies.dll" />
			<File Id="AspNetCoreAuthenticationCore" Source="$(var.PublishDir)\Microsoft.AspNetCore.Authentication.Core.dll" />
			<File Id="AspNetCoreAuthentication" Source="$(var.PublishDir)\Microsoft.AspNetCore.Authentication.dll" />
			<File Id="AspNetCoreAuthenticationOAuth" Source="$(var.PublishDir)\Microsoft.AspNetCore.Authentication.OAuth.dll" />
			<File Id="AspNetCoreAuthorization" Source="$(var.PublishDir)\Microsoft.AspNetCore.Authorization.dll" />
			<File Id="AspNetCoreAuthorizationPolicy" Source="$(var.PublishDir)\Microsoft.AspNetCore.Authorization.Policy.dll" />
			<File Id="AspNetCoreComponentsAuthorization" Source="$(var.PublishDir)\Microsoft.AspNetCore.Components.Authorization.dll" />
			<File Id="AspNetCoreComponents" Source="$(var.PublishDir)\Microsoft.AspNetCore.Components.dll" />
			<File Id="AspNetCoreComponentsEndpoints" Source="$(var.PublishDir)\Microsoft.AspNetCore.Components.Endpoints.dll" />
			<File Id="AspNetCoreComponentsForms" Source="$(var.PublishDir)\Microsoft.AspNetCore.Components.Forms.dll" />
			<File Id="AspNetCoreComponentsServer" Source="$(var.PublishDir)\Microsoft.AspNetCore.Components.Server.dll" />
			<File Id="AspNetCoreComponentsWeb" Source="$(var.PublishDir)\Microsoft.AspNetCore.Components.Web.dll" />
			<File Id="AspNetCoreConnectionsAbstractions" Source="$(var.PublishDir)\Microsoft.AspNetCore.Connections.Abstractions.dll" />
			<File Id="AspNetCoreCookiePolicy" Source="$(var.PublishDir)\Microsoft.AspNetCore.CookiePolicy.dll" />
			<File Id="AspNetCoreCors" Source="$(var.PublishDir)\Microsoft.AspNetCore.Cors.dll" />
			<File Id="AspNetCoreCryptographyInternal" Source="$(var.PublishDir)\Microsoft.AspNetCore.Cryptography.Internal.dll" />
			<File Id="AspNetCoreCryptographyKeyDerivation" Source="$(var.PublishDir)\Microsoft.AspNetCore.Cryptography.KeyDerivation.dll" />
			<File Id="AspNetCoreDataProtectionAbstractions" Source="$(var.PublishDir)\Microsoft.AspNetCore.DataProtection.Abstractions.dll" />
			<File Id="AspNetCoreDataProtection" Source="$(var.PublishDir)\Microsoft.AspNetCore.DataProtection.dll" />
			<File Id="AspNetCoreDataProtectionExtensions" Source="$(var.PublishDir)\Microsoft.AspNetCore.DataProtection.Extensions.dll" />
			<File Id="AspNetCoreDiagnosticsAbstractions" Source="$(var.PublishDir)\Microsoft.AspNetCore.Diagnostics.Abstractions.dll" />
			<File Id="AspNetCoreDiagnostics" Source="$(var.PublishDir)\Microsoft.AspNetCore.Diagnostics.dll" />
			<File Id="AspNetCoreDiagnosticsHealthChecks" Source="$(var.PublishDir)\Microsoft.AspNetCore.Diagnostics.HealthChecks.dll" />
			<File Id="AspNetCore" Source="$(var.PublishDir)\Microsoft.AspNetCore.dll" />
			<File Id="AspNetCoreHostFiltering" Source="$(var.PublishDir)\Microsoft.AspNetCore.HostFiltering.dll" />
			<File Id="AspNetCoreHostingAbstractions" Source="$(var.PublishDir)\Microsoft.AspNetCore.Hosting.Abstractions.dll" />
			<File Id="AspNetCoreHosting" Source="$(var.PublishDir)\Microsoft.AspNetCore.Hosting.dll" />
			<File Id="AspNetCoreHostingServerAbstractions" Source="$(var.PublishDir)\Microsoft.AspNetCore.Hosting.Server.Abstractions.dll" />
			<File Id="AspNetCoreHtmlAbstractions" Source="$(var.PublishDir)\Microsoft.AspNetCore.Html.Abstractions.dll" />
			<File Id="AspNetCoreHttpAbstractions" Source="$(var.PublishDir)\Microsoft.AspNetCore.Http.Abstractions.dll" />
			<File Id="AspNetCoreHttpConnectionsCommon" Source="$(var.PublishDir)\Microsoft.AspNetCore.Http.Connections.Common.dll" />
			<File Id="AspNetCoreHttpConnections" Source="$(var.PublishDir)\Microsoft.AspNetCore.Http.Connections.dll" />
			<File Id="AspNetCoreHttp" Source="$(var.PublishDir)\Microsoft.AspNetCore.Http.dll" />
			<File Id="AspNetCoreHttpExtensions" Source="$(var.PublishDir)\Microsoft.AspNetCore.Http.Extensions.dll" />
			<File Id="AspNetCoreHttpFeatures" Source="$(var.PublishDir)\Microsoft.AspNetCore.Http.Features.dll" />
			<File Id="AspNetCoreHttpResults" Source="$(var.PublishDir)\Microsoft.AspNetCore.Http.Results.dll" />
			<File Id="AspNetCoreHttpLogging" Source="$(var.PublishDir)\Microsoft.AspNetCore.HttpLogging.dll" />
			<File Id="AspNetCoreHttpOverrides" Source="$(var.PublishDir)\Microsoft.AspNetCore.HttpOverrides.dll" />
			<File Id="AspNetCoreHttpsPolicy" Source="$(var.PublishDir)\Microsoft.AspNetCore.HttpsPolicy.dll" />
			<File Id="AspNetCoreIdentity" Source="$(var.PublishDir)\Microsoft.AspNetCore.Identity.dll" />
			<File Id="AspNetCoreLocalization" Source="$(var.PublishDir)\Microsoft.AspNetCore.Localization.dll" />
			<File Id="AspNetCoreLocalizationRouting" Source="$(var.PublishDir)\Microsoft.AspNetCore.Localization.Routing.dll" />
			<File Id="AspNetCoreMetadata" Source="$(var.PublishDir)\Microsoft.AspNetCore.Metadata.dll" />
			<File Id="AspNetCoreMvcAbstractions" Source="$(var.PublishDir)\Microsoft.AspNetCore.Mvc.Abstractions.dll" />
			<File Id="AspNetCoreMvcApiExplorer" Source="$(var.PublishDir)\Microsoft.AspNetCore.Mvc.ApiExplorer.dll" />
			<File Id="AspNetCoreMvcCore" Source="$(var.PublishDir)\Microsoft.AspNetCore.Mvc.Core.dll" />
			<File Id="AspNetCoreMvcCors" Source="$(var.PublishDir)\Microsoft.AspNetCore.Mvc.Cors.dll" />
			<File Id="AspNetCoreMvcDataAnnotations" Source="$(var.PublishDir)\Microsoft.AspNetCore.Mvc.DataAnnotations.dll" />
			<File Id="AspNetCoreMvc" Source="$(var.PublishDir)\Microsoft.AspNetCore.Mvc.dll" />
			<File Id="AspNetCoreMvcFormattersJson" Source="$(var.PublishDir)\Microsoft.AspNetCore.Mvc.Formatters.Json.dll" />
			<File Id="AspNetCoreMvcFormattersXml" Source="$(var.PublishDir)\Microsoft.AspNetCore.Mvc.Formatters.Xml.dll" />
			<File Id="AspNetCoreMvcLocalization" Source="$(var.PublishDir)\Microsoft.AspNetCore.Mvc.Localization.dll" />
			<File Id="AspNetCoreMvcRazor" Source="$(var.PublishDir)\Microsoft.AspNetCore.Mvc.Razor.dll" />
			<File Id="AspNetCoreMvcRazorPages" Source="$(var.PublishDir)\Microsoft.AspNetCore.Mvc.RazorPages.dll" />
			<File Id="AspNetCoreMvcTagHelpers" Source="$(var.PublishDir)\Microsoft.AspNetCore.Mvc.TagHelpers.dll" />
			<File Id="AspNetCoreMvcViewFeatures" Source="$(var.PublishDir)\Microsoft.AspNetCore.Mvc.ViewFeatures.dll" />
			<File Id="AspNetCoreOutputCaching" Source="$(var.PublishDir)\Microsoft.AspNetCore.OutputCaching.dll" />
			<File Id="AspNetCoreRateLimiting" Source="$(var.PublishDir)\Microsoft.AspNetCore.RateLimiting.dll" />
			<File Id="AspNetCoreRazor" Source="$(var.PublishDir)\Microsoft.AspNetCore.Razor.dll" />
			<File Id="AspNetCoreRazorRuntime" Source="$(var.PublishDir)\Microsoft.AspNetCore.Razor.Runtime.dll" />
			<File Id="AspNetCoreRequestDecompression" Source="$(var.PublishDir)\Microsoft.AspNetCore.RequestDecompression.dll" />
			<File Id="AspNetCoreResponseCachingAbstractions" Source="$(var.PublishDir)\Microsoft.AspNetCore.ResponseCaching.Abstractions.dll" />
			<File Id="AspNetCoreResponseCaching" Source="$(var.PublishDir)\Microsoft.AspNetCore.ResponseCaching.dll" />
			<File Id="AspNetCoreResponseCompression" Source="$(var.PublishDir)\Microsoft.AspNetCore.ResponseCompression.dll" />
			<File Id="AspNetCoreRewrite" Source="$(var.PublishDir)\Microsoft.AspNetCore.Rewrite.dll" />
			<File Id="AspNetCoreRoutingAbstractions" Source="$(var.PublishDir)\Microsoft.AspNetCore.Routing.Abstractions.dll" />
			<File Id="AspNetCoreRouting" Source="$(var.PublishDir)\Microsoft.AspNetCore.Routing.dll" />
			<File Id="AspNetCoreServerHttpSys" Source="$(var.PublishDir)\Microsoft.AspNetCore.Server.HttpSys.dll" />
			<File Id="AspNetCoreServerIIS" Source="$(var.PublishDir)\Microsoft.AspNetCore.Server.IIS.dll" />
			<File Id="AspNetCoreServerIISIntegration" Source="$(var.PublishDir)\Microsoft.AspNetCore.Server.IISIntegration.dll" />
			<File Id="AspNetCoreServerKestrelCore" Source="$(var.PublishDir)\Microsoft.AspNetCore.Server.Kestrel.Core.dll" />
			<File Id="AspNetCoreServerKestrel" Source="$(var.PublishDir)\Microsoft.AspNetCore.Server.Kestrel.dll" />
			<File Id="AspNetCoreServerKestrelTransportNamedPipes" Source="$(var.PublishDir)\Microsoft.AspNetCore.Server.Kestrel.Transport.NamedPipes.dll" />
			<File Id="AspNetCoreServerKestrelTransportQuic" Source="$(var.PublishDir)\Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.dll" />
			<File Id="AspNetCoreServerKestrelTransportSockets" Source="$(var.PublishDir)\Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.dll" />
			<File Id="AspNetCoreSession" Source="$(var.PublishDir)\Microsoft.AspNetCore.Session.dll" />
			<File Id="AspNetCoreSignalRCommon" Source="$(var.PublishDir)\Microsoft.AspNetCore.SignalR.Common.dll" />
			<File Id="AspNetCoreSignalRCore" Source="$(var.PublishDir)\Microsoft.AspNetCore.SignalR.Core.dll" />
			<File Id="AspNetCoreSignalR" Source="$(var.PublishDir)\Microsoft.AspNetCore.SignalR.dll" />
			<File Id="AspNetCoreSignalRProtocolsJson" Source="$(var.PublishDir)\Microsoft.AspNetCore.SignalR.Protocols.Json.dll" />
			<File Id="AspNetCoreStaticFiles" Source="$(var.PublishDir)\Microsoft.AspNetCore.StaticFiles.dll" />
			<File Id="AspNetCoreWebSockets" Source="$(var.PublishDir)\Microsoft.AspNetCore.WebSockets.dll" />
			<File Id="AspNetCoreWebUtilities" Source="$(var.PublishDir)\Microsoft.AspNetCore.WebUtilities.dll" />
			<File Id="MicrosoftCSharp" Source="$(var.PublishDir)\Microsoft.CSharp.dll" />
			<File Id="MicrosoftDiaSymReaderNative" Source="$(var.PublishDir)\Microsoft.DiaSymReader.Native.amd64.dll" />
			<File Id="EntityFrameworkCoreAbstractions" Source="$(var.PublishDir)\Microsoft.EntityFrameworkCore.Abstractions.dll" />
			<File Id="EntityFrameworkCore" Source="$(var.PublishDir)\Microsoft.EntityFrameworkCore.dll" />
			<File Id="EntityFrameworkCoreInMemory" Source="$(var.PublishDir)\Microsoft.EntityFrameworkCore.InMemory.dll" />
			<File Id="ExtensionsCachingAbstractions" Source="$(var.PublishDir)\Microsoft.Extensions.Caching.Abstractions.dll" />
			<File Id="ExtensionsCachingMemory" Source="$(var.PublishDir)\Microsoft.Extensions.Caching.Memory.dll" />
			<File Id="ExtensionsConfigurationAbstractions" Source="$(var.PublishDir)\Microsoft.Extensions.Configuration.Abstractions.dll" />
			<File Id="ExtensionsConfigurationBinder" Source="$(var.PublishDir)\Microsoft.Extensions.Configuration.Binder.dll" />
			<File Id="ExtensionsConfigurationCommandLine" Source="$(var.PublishDir)\Microsoft.Extensions.Configuration.CommandLine.dll" />
			<File Id="ExtensionsConfiguration" Source="$(var.PublishDir)\Microsoft.Extensions.Configuration.dll" />
			<File Id="ExtensionsConfigurationEnvironmentVariables" Source="$(var.PublishDir)\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
			<File Id="ExtensionsConfigurationFileExtensions" Source="$(var.PublishDir)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
			<File Id="ExtensionsConfigurationIni" Source="$(var.PublishDir)\Microsoft.Extensions.Configuration.Ini.dll" />
			<File Id="ExtensionsConfigurationJson" Source="$(var.PublishDir)\Microsoft.Extensions.Configuration.Json.dll" />
			<File Id="ExtensionsConfigurationKeyPerFile" Source="$(var.PublishDir)\Microsoft.Extensions.Configuration.KeyPerFile.dll" />
			<File Id="ExtensionsConfigurationUserSecrets" Source="$(var.PublishDir)\Microsoft.Extensions.Configuration.UserSecrets.dll" />
			<File Id="ExtensionsConfigurationXml" Source="$(var.PublishDir)\Microsoft.Extensions.Configuration.Xml.dll" />
			<File Id="ExtensionsDependencyInjectionAbstractions" Source="$(var.PublishDir)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
			<File Id="ExtensionsDependencyInjection" Source="$(var.PublishDir)\Microsoft.Extensions.DependencyInjection.dll" />
			<File Id="ExtensionsDiagnosticsAbstractions" Source="$(var.PublishDir)\Microsoft.Extensions.Diagnostics.Abstractions.dll" />
			<File Id="ExtensionsDiagnostics" Source="$(var.PublishDir)\Microsoft.Extensions.Diagnostics.dll" />
			<File Id="ExtensionsDiagnosticsHealthChecksAbstractions" Source="$(var.PublishDir)\Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions.dll" />
			<File Id="ExtensionsDiagnosticsHealthChecks" Source="$(var.PublishDir)\Microsoft.Extensions.Diagnostics.HealthChecks.dll" />
			<File Id="ExtensionsFeatures" Source="$(var.PublishDir)\Microsoft.Extensions.Features.dll" />
			<File Id="ExtensionsFileProvidersAbstractions" Source="$(var.PublishDir)\Microsoft.Extensions.FileProviders.Abstractions.dll" />
			<File Id="ExtensionsFileProvidersComposite" Source="$(var.PublishDir)\Microsoft.Extensions.FileProviders.Composite.dll" />
			<File Id="ExtensionsFileProvidersEmbedded" Source="$(var.PublishDir)\Microsoft.Extensions.FileProviders.Embedded.dll" />
			<File Id="ExtensionsFileProvidersPhysical" Source="$(var.PublishDir)\Microsoft.Extensions.FileProviders.Physical.dll" />
			<File Id="ExtensionsFileSystemGlobbing" Source="$(var.PublishDir)\Microsoft.Extensions.FileSystemGlobbing.dll" />
			<File Id="ExtensionsHostingAbstractions" Source="$(var.PublishDir)\Microsoft.Extensions.Hosting.Abstractions.dll" />
			<File Id="ExtensionsHosting" Source="$(var.PublishDir)\Microsoft.Extensions.Hosting.dll" />
			<File Id="ExtensionsHostingWindowsServices" Source="$(var.PublishDir)\Microsoft.Extensions.Hosting.WindowsServices.dll" />
			<File Id="ExtensionsHttp" Source="$(var.PublishDir)\Microsoft.Extensions.Http.dll" />
			<File Id="ExtensionsIdentityCore" Source="$(var.PublishDir)\Microsoft.Extensions.Identity.Core.dll" />
			<File Id="ExtensionsIdentityStores" Source="$(var.PublishDir)\Microsoft.Extensions.Identity.Stores.dll" />
			<File Id="ExtensionsLocalizationAbstractions" Source="$(var.PublishDir)\Microsoft.Extensions.Localization.Abstractions.dll" />
			<File Id="ExtensionsLocalization" Source="$(var.PublishDir)\Microsoft.Extensions.Localization.dll" />
			<File Id="ExtensionsLoggingAbstractions" Source="$(var.PublishDir)\Microsoft.Extensions.Logging.Abstractions.dll" />
			<File Id="ExtensionsLoggingConfiguration" Source="$(var.PublishDir)\Microsoft.Extensions.Logging.Configuration.dll" />
			<File Id="ExtensionsLoggingConsole" Source="$(var.PublishDir)\Microsoft.Extensions.Logging.Console.dll" />
			<File Id="ExtensionsLoggingDebug" Source="$(var.PublishDir)\Microsoft.Extensions.Logging.Debug.dll" />
			<File Id="ExtensionsLogging" Source="$(var.PublishDir)\Microsoft.Extensions.Logging.dll" />
			<File Id="ExtensionsLoggingEventLog" Source="$(var.PublishDir)\Microsoft.Extensions.Logging.EventLog.dll" />
			<File Id="ExtensionsLoggingEventSource" Source="$(var.PublishDir)\Microsoft.Extensions.Logging.EventSource.dll" />
			<File Id="ExtensionsLoggingTraceSource" Source="$(var.PublishDir)\Microsoft.Extensions.Logging.TraceSource.dll" />
			<File Id="ExtensionsObjectPool" Source="$(var.PublishDir)\Microsoft.Extensions.ObjectPool.dll" />
			<File Id="ExtensionsOptionsConfigurationExtensions" Source="$(var.PublishDir)\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
			<File Id="ExtensionsOptionsDataAnnotations" Source="$(var.PublishDir)\Microsoft.Extensions.Options.DataAnnotations.dll" />
			<File Id="ExtensionsOptions" Source="$(var.PublishDir)\Microsoft.Extensions.Options.dll" />
			<File Id="ExtensionsPrimitives" Source="$(var.PublishDir)\Microsoft.Extensions.Primitives.dll" />
			<File Id="ExtensionsWebEncoders" Source="$(var.PublishDir)\Microsoft.Extensions.WebEncoders.dll" />
			<File Id="JSInterop" Source="$(var.PublishDir)\Microsoft.JSInterop.dll" />
			<File Id="NetHttpHeaders" Source="$(var.PublishDir)\Microsoft.Net.Http.Headers.dll" />
			<File Id="OpenApi" Source="$(var.PublishDir)\Microsoft.OpenApi.dll" />
			<File Id="VisualBasicCore" Source="$(var.PublishDir)\Microsoft.VisualBasic.Core.dll" />
			<File Id="VisualBasic" Source="$(var.PublishDir)\Microsoft.VisualBasic.dll" />
			<File Id="Win32Primitives" Source="$(var.PublishDir)\Microsoft.Win32.Primitives.dll" />
			<File Id="Win32Registry" Source="$(var.PublishDir)\Microsoft.Win32.Registry.dll" />
			<File Id="Mscordaccore" Source="$(var.PublishDir)\mscordaccore.dll" />
			<File Id="MscordaccoreAmd64" Source="$(var.PublishDir)\mscordaccore_amd64_amd64_8.0.1024.46610.dll" />
			<File Id="Mscordbi" Source="$(var.PublishDir)\mscordbi.dll" />
			<File Id="Mscorlib" Source="$(var.PublishDir)\mscorlib.dll" />
			<File Id="Mscorrc" Source="$(var.PublishDir)\mscorrc.dll" />
			<File Id="MsQuic" Source="$(var.PublishDir)\msquic.dll" />
			<File Id="NetStandard" Source="$(var.PublishDir)\netstandard.dll" />
			<File Id="SwashbuckleSwagger" Source="$(var.PublishDir)\Swashbuckle.AspNetCore.Swagger.dll" />
			<File Id="SwashbuckleSwaggerGen" Source="$(var.PublishDir)\Swashbuckle.AspNetCore.SwaggerGen.dll" />
			<File Id="SwashbuckleSwaggerUI" Source="$(var.PublishDir)\Swashbuckle.AspNetCore.SwaggerUI.dll" />
			<File Id="SystemAppContext" Source="$(var.PublishDir)\System.AppContext.dll" />
			<File Id="SystemBuffers" Source="$(var.PublishDir)\System.Buffers.dll" />
			<File Id="SystemCollectionsConcurrent" Source="$(var.PublishDir)\System.Collections.Concurrent.dll" />
			<File Id="SystemCollections" Source="$(var.PublishDir)\System.Collections.dll" />
			<File Id="SystemCollectionsImmutable" Source="$(var.PublishDir)\System.Collections.Immutable.dll" />
			<File Id="SystemCollectionsNonGeneric" Source="$(var.PublishDir)\System.Collections.NonGeneric.dll" />
			<File Id="SystemCollectionsSpecialized" Source="$(var.PublishDir)\System.Collections.Specialized.dll" />
			<File Id="SystemComponentModelAnnotations" Source="$(var.PublishDir)\System.ComponentModel.Annotations.dll" />
			<File Id="SystemComponentModelDataAnnotations" Source="$(var.PublishDir)\System.ComponentModel.DataAnnotations.dll" />
			<File Id="SystemComponentModel" Source="$(var.PublishDir)\System.ComponentModel.dll" />
			<File Id="SystemComponentModelEventBasedAsync" Source="$(var.PublishDir)\System.ComponentModel.EventBasedAsync.dll" />
			<File Id="SystemComponentModelPrimitives" Source="$(var.PublishDir)\System.ComponentModel.Primitives.dll" />
			<File Id="SystemComponentModelTypeConverter" Source="$(var.PublishDir)\System.ComponentModel.TypeConverter.dll" />
			<File Id="SystemConfiguration" Source="$(var.PublishDir)\System.Configuration.dll" />
			<File Id="SystemConsole" Source="$(var.PublishDir)\System.Console.dll" />
			<File Id="SystemCore" Source="$(var.PublishDir)\System.Core.dll" />
			<File Id="SystemDataCommon" Source="$(var.PublishDir)\System.Data.Common.dll" />
			<File Id="SystemDataSetExtensions" Source="$(var.PublishDir)\System.Data.DataSetExtensions.dll" />
			<File Id="SystemData" Source="$(var.PublishDir)\System.Data.dll" />
			<File Id="SystemDiagnosticsContracts" Source="$(var.PublishDir)\System.Diagnostics.Contracts.dll" />
			<File Id="SystemDiagnosticsDebug" Source="$(var.PublishDir)\System.Diagnostics.Debug.dll" />
			<File Id="SystemDiagnosticsDiagnosticSource" Source="$(var.PublishDir)\System.Diagnostics.DiagnosticSource.dll" />
			<File Id="SystemDiagnosticsEventLog" Source="$(var.PublishDir)\System.Diagnostics.EventLog.dll" />
			<File Id="SystemDiagnosticsEventLogMessages" Source="$(var.PublishDir)\System.Diagnostics.EventLog.Messages.dll" />
			<File Id="SystemDiagnosticsFileVersionInfo" Source="$(var.PublishDir)\System.Diagnostics.FileVersionInfo.dll" />
			<File Id="SystemDiagnosticsProcess" Source="$(var.PublishDir)\System.Diagnostics.Process.dll" />
			<File Id="SystemDiagnosticsStackTrace" Source="$(var.PublishDir)\System.Diagnostics.StackTrace.dll" />
			<File Id="SystemDiagnosticsTextWriterTraceListener" Source="$(var.PublishDir)\System.Diagnostics.TextWriterTraceListener.dll" />
			<File Id="SystemDiagnosticsTools" Source="$(var.PublishDir)\System.Diagnostics.Tools.dll" />
			<File Id="SystemDiagnosticsTraceSource" Source="$(var.PublishDir)\System.Diagnostics.TraceSource.dll" />
			<File Id="SystemDiagnosticsTracing" Source="$(var.PublishDir)\System.Diagnostics.Tracing.dll" />
			<File Id="System" Source="$(var.PublishDir)\System.dll" />
			<File Id="SystemDrawing" Source="$(var.PublishDir)\System.Drawing.dll" />
			<File Id="SystemDrawingPrimitives" Source="$(var.PublishDir)\System.Drawing.Primitives.dll" />
			<File Id="SystemDynamicRuntime" Source="$(var.PublishDir)\System.Dynamic.Runtime.dll" />
			<File Id="SystemFormatsAsn1" Source="$(var.PublishDir)\System.Formats.Asn1.dll" />
			<File Id="SystemFormatsTar" Source="$(var.PublishDir)\System.Formats.Tar.dll" />
			<File Id="SystemGlobalizationCalendars" Source="$(var.PublishDir)\System.Globalization.Calendars.dll" />
			<File Id="SystemGlobalization" Source="$(var.PublishDir)\System.Globalization.dll" />
			<File Id="SystemGlobalizationExtensions" Source="$(var.PublishDir)\System.Globalization.Extensions.dll" />
			<File Id="SystemIOCompressionBrotli" Source="$(var.PublishDir)\System.IO.Compression.Brotli.dll" />
			<File Id="SystemIOCompression" Source="$(var.PublishDir)\System.IO.Compression.dll" />
			<File Id="SystemIOCompressionFileSystem" Source="$(var.PublishDir)\System.IO.Compression.FileSystem.dll" />
			<File Id="SystemIOCompressionNative" Source="$(var.PublishDir)\System.IO.Compression.Native.dll" />
			<File Id="SystemIOCompressionZipFile" Source="$(var.PublishDir)\System.IO.Compression.ZipFile.dll" />
			<File Id="SystemIO" Source="$(var.PublishDir)\System.IO.dll" />
			<File Id="SystemIOFileSystemAccessControl" Source="$(var.PublishDir)\System.IO.FileSystem.AccessControl.dll" />
			<File Id="SystemIOFileSystem" Source="$(var.PublishDir)\System.IO.FileSystem.dll" />
			<File Id="SystemIOFileSystemDriveInfo" Source="$(var.PublishDir)\System.IO.FileSystem.DriveInfo.dll" />
			<File Id="SystemIOFileSystemPrimitives" Source="$(var.PublishDir)\System.IO.FileSystem.Primitives.dll" />
			<File Id="SystemIOFileSystemWatcher" Source="$(var.PublishDir)\System.IO.FileSystem.Watcher.dll" />
			<File Id="SystemIOIsolatedStorage" Source="$(var.PublishDir)\System.IO.IsolatedStorage.dll" />
			<File Id="SystemIOMemoryMappedFiles" Source="$(var.PublishDir)\System.IO.MemoryMappedFiles.dll" />
			<File Id="SystemIOPipelines" Source="$(var.PublishDir)\System.IO.Pipelines.dll" />
			<File Id="SystemIOPipesAccessControl" Source="$(var.PublishDir)\System.IO.Pipes.AccessControl.dll" />
			<File Id="SystemIOPipes" Source="$(var.PublishDir)\System.IO.Pipes.dll" />
			<File Id="SystemIOUnmanagedMemoryStream" Source="$(var.PublishDir)\System.IO.UnmanagedMemoryStream.dll" />
			<File Id="SystemLinq" Source="$(var.PublishDir)\System.Linq.dll" />
			<File Id="SystemLinqExpressions" Source="$(var.PublishDir)\System.Linq.Expressions.dll" />
			<File Id="SystemLinqParallel" Source="$(var.PublishDir)\System.Linq.Parallel.dll" />
			<File Id="SystemLinqQueryable" Source="$(var.PublishDir)\System.Linq.Queryable.dll" />
			<File Id="SystemMemory" Source="$(var.PublishDir)\System.Memory.dll" />
			<File Id="SystemNet" Source="$(var.PublishDir)\System.Net.dll" />
			<File Id="SystemNetHttp" Source="$(var.PublishDir)\System.Net.Http.dll" />
			<File Id="SystemNetHttpJson" Source="$(var.PublishDir)\System.Net.Http.Json.dll" />
			<File Id="SystemNetHttpListener" Source="$(var.PublishDir)\System.Net.HttpListener.dll" />
			<File Id="SystemNetMail" Source="$(var.PublishDir)\System.Net.Mail.dll" />
			<File Id="SystemNetNameResolution" Source="$(var.PublishDir)\System.Net.NameResolution.dll" />
			<File Id="SystemNetNetworkInformation" Source="$(var.PublishDir)\System.Net.NetworkInformation.dll" />
			<File Id="SystemNetPing" Source="$(var.PublishDir)\System.Net.Ping.dll" />
			<File Id="SystemNetPrimitives" Source="$(var.PublishDir)\System.Net.Primitives.dll" />
			<File Id="SystemNetQuic" Source="$(var.PublishDir)\System.Net.Quic.dll" />
			<File Id="SystemNetRequests" Source="$(var.PublishDir)\System.Net.Requests.dll" />
			<File Id="SystemNetSecurity" Source="$(var.PublishDir)\System.Net.Security.dll" />
			<File Id="SystemNetServicePoint" Source="$(var.PublishDir)\System.Net.ServicePoint.dll" />
			<File Id="SystemNetSockets" Source="$(var.PublishDir)\System.Net.Sockets.dll" />
			<File Id="SystemNetWebClient" Source="$(var.PublishDir)\System.Net.WebClient.dll" />
			<File Id="SystemNetWebHeaderCollection" Source="$(var.PublishDir)\System.Net.WebHeaderCollection.dll" />
			<File Id="SystemNetWebProxy" Source="$(var.PublishDir)\System.Net.WebProxy.dll" />
			<File Id="SystemNetWebSocketsClient" Source="$(var.PublishDir)\System.Net.WebSockets.Client.dll" />
			<File Id="SystemNetWebSockets" Source="$(var.PublishDir)\System.Net.WebSockets.dll" />
			<File Id="SystemNumerics" Source="$(var.PublishDir)\System.Numerics.dll" />
			<File Id="SystemNumericsVectors" Source="$(var.PublishDir)\System.Numerics.Vectors.dll" />
			<File Id="SystemObjectModel" Source="$(var.PublishDir)\System.ObjectModel.dll" />
			<File Id="SystemPrivateCoreLib" Source="$(var.PublishDir)\System.Private.CoreLib.dll" />
			<File Id="SystemPrivateDataContractSerialization" Source="$(var.PublishDir)\System.Private.DataContractSerialization.dll" />
			<File Id="SystemPrivateUri" Source="$(var.PublishDir)\System.Private.Uri.dll" />
			<File Id="SystemPrivateXml" Source="$(var.PublishDir)\System.Private.Xml.dll" />
			<File Id="SystemPrivateXmlLinq" Source="$(var.PublishDir)\System.Private.Xml.Linq.dll" />
			<File Id="SystemReflectionDispatchProxy" Source="$(var.PublishDir)\System.Reflection.DispatchProxy.dll" />
			<File Id="SystemReflection" Source="$(var.PublishDir)\System.Reflection.dll" />
			<File Id="SystemReflectionEmit" Source="$(var.PublishDir)\System.Reflection.Emit.dll" />
			<File Id="SystemReflectionEmitILGeneration" Source="$(var.PublishDir)\System.Reflection.Emit.ILGeneration.dll" />
			<File Id="SystemReflectionEmitLightweight" Source="$(var.PublishDir)\System.Reflection.Emit.Lightweight.dll" />
			<File Id="SystemReflectionExtensions" Source="$(var.PublishDir)\System.Reflection.Extensions.dll" />
			<File Id="SystemReflectionMetadata" Source="$(var.PublishDir)\System.Reflection.Metadata.dll" />
			<File Id="SystemReflectionPrimitives" Source="$(var.PublishDir)\System.Reflection.Primitives.dll" />
			<File Id="SystemReflectionTypeExtensions" Source="$(var.PublishDir)\System.Reflection.TypeExtensions.dll" />
			<File Id="SystemResourcesReader" Source="$(var.PublishDir)\System.Resources.Reader.dll" />
			<File Id="SystemResourcesResourceManager" Source="$(var.PublishDir)\System.Resources.ResourceManager.dll" />
			<File Id="SystemResourcesWriter" Source="$(var.PublishDir)\System.Resources.Writer.dll" />
			<File Id="SystemRuntimeCompilerServicesUnsafe" Source="$(var.PublishDir)\System.Runtime.CompilerServices.Unsafe.dll" />
			<File Id="SystemRuntimeCompilerServicesVisualC" Source="$(var.PublishDir)\System.Runtime.CompilerServices.VisualC.dll" />
			<File Id="SystemRuntime" Source="$(var.PublishDir)\System.Runtime.dll" />
			<File Id="SystemRuntimeExtensions" Source="$(var.PublishDir)\System.Runtime.Extensions.dll" />
			<File Id="SystemRuntimeHandles" Source="$(var.PublishDir)\System.Runtime.Handles.dll" />
			<File Id="SystemRuntimeInteropServices" Source="$(var.PublishDir)\System.Runtime.InteropServices.dll" />
			<File Id="SystemRuntimeInteropServicesJavaScript" Source="$(var.PublishDir)\System.Runtime.InteropServices.JavaScript.dll" />
			<File Id="SystemRuntimeInteropServicesRuntimeInformation" Source="$(var.PublishDir)\System.Runtime.InteropServices.RuntimeInformation.dll" />
			<File Id="SystemRuntimeIntrinsics" Source="$(var.PublishDir)\System.Runtime.Intrinsics.dll" />
			<File Id="SystemRuntimeLoader" Source="$(var.PublishDir)\System.Runtime.Loader.dll" />
			<File Id="SystemRuntimeNumerics" Source="$(var.PublishDir)\System.Runtime.Numerics.dll" />
			<File Id="SystemRuntimeSerialization" Source="$(var.PublishDir)\System.Runtime.Serialization.dll" />
			<File Id="SystemRuntimeSerializationFormatters" Source="$(var.PublishDir)\System.Runtime.Serialization.Formatters.dll" />
			<File Id="SystemRuntimeSerializationJson" Source="$(var.PublishDir)\System.Runtime.Serialization.Json.dll" />
			<File Id="SystemRuntimeSerializationPrimitives" Source="$(var.PublishDir)\System.Runtime.Serialization.Primitives.dll" />
			<File Id="SystemRuntimeSerializationXml" Source="$(var.PublishDir)\System.Runtime.Serialization.Xml.dll" />
			<File Id="SystemSecurityAccessControl" Source="$(var.PublishDir)\System.Security.AccessControl.dll" />
			<File Id="SystemSecurityClaims" Source="$(var.PublishDir)\System.Security.Claims.dll" />
			<File Id="SystemSecurityCryptographyAlgorithms" Source="$(var.PublishDir)\System.Security.Cryptography.Algorithms.dll" />
			<File Id="SystemSecurityCryptographyCng" Source="$(var.PublishDir)\System.Security.Cryptography.Cng.dll" />
			<File Id="SystemSecurityCryptographyCsp" Source="$(var.PublishDir)\System.Security.Cryptography.Csp.dll" />
			<File Id="SystemSecurityCryptography" Source="$(var.PublishDir)\System.Security.Cryptography.dll" />
			<File Id="SystemSecurityCryptographyEncoding" Source="$(var.PublishDir)\System.Security.Cryptography.Encoding.dll" />
			<File Id="SystemSecurityCryptographyOpenSsl" Source="$(var.PublishDir)\System.Security.Cryptography.OpenSsl.dll" />
			<File Id="SystemSecurityCryptographyPkcs" Source="$(var.PublishDir)\System.Security.Cryptography.Pkcs.dll" />
			<File Id="SystemSecurityCryptographyPrimitives" Source="$(var.PublishDir)\System.Security.Cryptography.Primitives.dll" />
			<File Id="SystemSecurityCryptographyX509Certificates" Source="$(var.PublishDir)\System.Security.Cryptography.X509Certificates.dll" />
			<File Id="SystemSecurityCryptographyXml" Source="$(var.PublishDir)\System.Security.Cryptography.Xml.dll" />
			<File Id="SystemSecurity" Source="$(var.PublishDir)\System.Security.dll" />
			<File Id="SystemSecurityPrincipal" Source="$(var.PublishDir)\System.Security.Principal.dll" />
			<File Id="SystemSecurityPrincipalWindows" Source="$(var.PublishDir)\System.Security.Principal.Windows.dll" />
			<File Id="SystemSecuritySecureString" Source="$(var.PublishDir)\System.Security.SecureString.dll" />
			<File Id="SystemServiceModelWeb" Source="$(var.PublishDir)\System.ServiceModel.Web.dll" />
			<File Id="SystemServiceProcess" Source="$(var.PublishDir)\System.ServiceProcess.dll" />
			<File Id="SystemServiceProcessServiceController" Source="$(var.PublishDir)\System.ServiceProcess.ServiceController.dll" />
			<File Id="SystemTextEncodingCodePages" Source="$(var.PublishDir)\System.Text.Encoding.CodePages.dll" />
			<File Id="SystemTextEncoding" Source="$(var.PublishDir)\System.Text.Encoding.dll" />
			<File Id="SystemTextEncodingExtensions" Source="$(var.PublishDir)\System.Text.Encoding.Extensions.dll" />
			<File Id="SystemTextEncodingsWeb" Source="$(var.PublishDir)\System.Text.Encodings.Web.dll" />
			<File Id="SystemTextJson" Source="$(var.PublishDir)\System.Text.Json.dll" />
			<File Id="SystemTextRegularExpressions" Source="$(var.PublishDir)\System.Text.RegularExpressions.dll" />
			<File Id="SystemThreadingChannels" Source="$(var.PublishDir)\System.Threading.Channels.dll" />
			<File Id="SystemThreading" Source="$(var.PublishDir)\System.Threading.dll" />
			<File Id="SystemThreadingOverlapped" Source="$(var.PublishDir)\System.Threading.Overlapped.dll" />
			<File Id="SystemThreadingRateLimiting" Source="$(var.PublishDir)\System.Threading.RateLimiting.dll" />
			<File Id="SystemThreadingTasksDataflow" Source="$(var.PublishDir)\System.Threading.Tasks.Dataflow.dll" />
			<File Id="SystemThreadingTasks" Source="$(var.PublishDir)\System.Threading.Tasks.dll" />
			<File Id="SystemThreadingTasksExtensions" Source="$(var.PublishDir)\System.Threading.Tasks.Extensions.dll" />
			<File Id="SystemThreadingTasksParallel" Source="$(var.PublishDir)\System.Threading.Tasks.Parallel.dll" />
			<File Id="SystemThreadingThread" Source="$(var.PublishDir)\System.Threading.Thread.dll" />
			<File Id="SystemThreadingThreadPool" Source="$(var.PublishDir)\System.Threading.ThreadPool.dll" />
			<File Id="SystemThreadingTimer" Source="$(var.PublishDir)\System.Threading.Timer.dll" />
			<File Id="SystemTransactions" Source="$(var.PublishDir)\System.Transactions.dll" />
			<File Id="SystemTransactionsLocal" Source="$(var.PublishDir)\System.Transactions.Local.dll" />
			<File Id="SystemValueTuple" Source="$(var.PublishDir)\System.ValueTuple.dll" />
			<File Id="SystemWeb" Source="$(var.PublishDir)\System.Web.dll" />
			<File Id="SystemWebHttpUtility" Source="$(var.PublishDir)\System.Web.HttpUtility.dll" />
			<File Id="SystemWindows" Source="$(var.PublishDir)\System.Windows.dll" />
			<File Id="SystemXml" Source="$(var.PublishDir)\System.Xml.dll" />
			<File Id="SystemXmlLinq" Source="$(var.PublishDir)\System.Xml.Linq.dll" />
			<File Id="SystemXmlReaderWriter" Source="$(var.PublishDir)\System.Xml.ReaderWriter.dll" />
			<File Id="SystemXmlSerialization" Source="$(var.PublishDir)\System.Xml.Serialization.dll" />
			<File Id="SystemXmlXDocument" Source="$(var.PublishDir)\System.Xml.XDocument.dll" />
			<File Id="SystemXmlXmlDocument" Source="$(var.PublishDir)\System.Xml.XmlDocument.dll" />
			<File Id="SystemXmlXmlSerializer" Source="$(var.PublishDir)\System.Xml.XmlSerializer.dll" />
			<File Id="SystemXmlXPath" Source="$(var.PublishDir)\System.Xml.XPath.dll" />
			<File Id="SystemXmlXPathXDocument" Source="$(var.PublishDir)\System.Xml.XPath.XDocument.dll" />
			<File Id="WebConfig" Source="$(var.PublishDir)\web.config" />
			<File Id="WindowsBase" Source="$(var.PublishDir)\WindowsBase.dll" />
			<File Id="YieldViewAPIDeps" Source="$(var.PublishDir)\YieldView.API.deps.json" />
			<File Id="YieldViewAPIDll" Source="$(var.PublishDir)\YieldView.API.dll" />
			<File Id="YieldViewAPIExe" Source="$(var.PublishDir)\YieldView.API.exe" />
			<File Id="YieldViewAPIPdb" Source="$(var.PublishDir)\YieldView.API.pdb" />
			<File Id="YieldViewAPIRuntimeConfig" Source="$(var.PublishDir)\YieldView.API.runtimeconfig.json" />
  
       <!-- Ensures cleanup (ICE64)-->
		<RemoveFolder Id="DeleteDesktopDir" Directory="YIELDVIEW_DESKTOP_DIR" On="uninstall" />
        <RemoveFolder Id="DeleteDeploymentDir" Directory="DEPLOYMENT_DIR" On="uninstall" />
        <RemoveFolder Id="DeleteBinariesDir" Directory="BINARIES_DIR" On="uninstall" />
        <RemoveFolder Id="DeleteConfigDir" Directory="CONFIGFILES_DIR" On="uninstall" />

      </Component>

      <!-- Config files -->
      <Component Id="YieldViewConfigs" Guid="C12A7D50-8A2B-4A1E-9BB4-64C9C8F5F1C9" Directory="CONFIGFILES_DIR">
        <RegistryValue Root="HKCU" Key="Software\YieldView" Name="ConfigInstalled" Type="integer" Value="1" KeyPath="yes" />
        <RemoveFile Id="RemoveConfigs" Name="*.*" On="uninstall" />
      </Component>

    </ComponentGroup>

    <Feature Id="ProductFeature" Title="YieldViewInstaller" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

  </Package>
</Wix>
